{% extends "pages/base.html" %}
{% block nav_bottom %}
<div class="fixed-bottom">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h5 class="text-white h4">Contact Me</h5>
     <h6 class="text-white h4">About Me</h6>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>
<p class="Lead" style="black">
    <div class="shadow p-3 mb-5 bg-white rounded">
        <h5 class="display-4"><p class="text-success" <strong>I
    address</strong></h5>
</div></p>
<ul>
    {% for item in lsit %}
        <li>{{  forloop.revcounter }}..{{ item }}</li>
    {% endfor %}
    <li><a href="http//www.google.com">{{ open }}</a> </li>
</ul>
{% if open == "stayam" %}
    <p>{{ open|center:"2"|wordcount }}</p>
{% endif %}
{% endblock %}