{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SATYAM's SITE</title>
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
        <img src="{% static 'pages/images/skel.svg' %}" width="30" height="30" class="d-inline-block align-top"
             alt="" loading="lazy">
        SATYAM
    </a>
    </nav>
</div>
<p>this is playing page</p>
</body>
</html>